---
---

section{
    padding: 96px 0px;
    border-bottom: 1px solid rgba(186,190,192,0.24);
}

pre{
    padding: 0px;
    code{
        padding: 16px 0px;
    }
}

.navigation {
    border-bottom: 1px solid rgba(186,190,192,0.24);
    &.is-fixed {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 2;
    }
}
.navigation-menu {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.button-link-container{
    display: inline-block;
    text-align: center;
    padding: 16px 26px;
}

.header-navigator{
    padding-top: 32px;
    padding-bottom: 24px;
}

.example{
    margin-bottom:34px;
    & + pre{
        margin-bottom: 64px;
    }
}

.section-container{
    display: none;
    &.show{
        display: block;
    }
}


.color-box{
    height: 272px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    p {
        color: #ffffff;
        margin: 0px;
    }
    .color-name{
        margin-bottom: auto;
    }
    .class-container{
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.16);
        margin-bottom: 4px;
        padding: 4px;
        display: table;
        .color-class{
            font-family: 'Overpass Mono', monospace;
            font-size: 16px;
        }
    }
}
