---
layout: default
permalink: '/'
---

    <section id="intro">
        <div class="container">
            {% include intro.html %}
        </div>
    </section>
    <div class="navigator">
        <div class="container">
            {% include navigator.html %}
        </div>
    </div>
    <section id="grid">
        <div class="container">
            {% include grid.html %}
        </div>
    </section>
    <section id="typography">
        <div class="container">
            {% include typography.html %}
        </div>
    </section>
    <section id="colors">
        <div class="container">
            {% include colors.html %}
        </div>
    </section>
    <section id="buttons">
        <div class="container">
            {% include buttons.html %}
        </div>
    </section>
    <section id="forms">
        <div class="container">
            {% include forms.html %}
        </div>
    </section>
    <section id="components">
        <div class="container">
            {% include components.html %}
        </div>
    </section>