/* SG
# Buttons
```
  <!-- normal buttons -->
  <a href="#" class="button is-jadeOutline">
    <span>Download all</span>
  </a>

  <a href="#" class="button is-jade">
    <span>Download all</span>
  </a>

  <a href="#" class="button is-baseGrey">
    <span>Download all</span>
  </a>

  <span style="padding: 40px; background: black; display: block;">
    <a href="#" class="button is-negative">
      <span>Download all</span>
    </a>
  </span>

  <a href="#" class="buttonLink is-jade">
    <svg width="8px" height="7px" viewBox="0 0 8 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path class="buttonLink-media" d="M1.52245273,3.04854764 L3.68776506,0.883235307 C3.88225492,0.688745449 3.88821988,0.353713791 3.68525771,0.15075162 C3.4882313,-0.0462747862 3.15435142,-0.053333131 2.95277402,0.148244267 L0.147793654,2.95322464 C0.0109867585,3.09003153 -0.0325396573,3.29637729 0.0243152648,3.47738142 C-0.0325396573,3.65838554 0.0109867585,3.8647313 0.147793654,4.00153819 L2.95277402,6.80651857 C3.15435142,7.00809596 3.4882313,7.00103762 3.68525771,6.80401121 C3.88821988,6.60104904 3.88225492,6.26601738 3.68776506,6.07152753 L1.70421948,4.08798194 L7.99996393,4.08798194 L7.99996393,3.04854764 L1.52245273,3.04854764 Z" id="Combined-Shape" fill="#00B9BF" transform="translate(3.999982, 3.477381) scale(-1, 1) translate(-3.999982, -3.477381) "></path>
        </g>
    </svg>
    Download all
  </a>

  <br/>

  <!-- small buttons -->
  <a href="#" class="button button--small is-jadeOutline">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--small is-jade">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--small is-baseGrey">
    <span>Download all</span>
  </a>

  <span style="padding: 40px; background: black; display: block;">
    <a href="#" class="button button--small is-negative">
      <span>Download all</span>
    </a>
  </span>

  <a href="#" class="buttonLink is-jade">
    <svg width="8px" height="7px" viewBox="0 0 8 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path class="buttonLink-media" d="M1.52245273,3.04854764 L3.68776506,0.883235307 C3.88225492,0.688745449 3.88821988,0.353713791 3.68525771,0.15075162 C3.4882313,-0.0462747862 3.15435142,-0.053333131 2.95277402,0.148244267 L0.147793654,2.95322464 C0.0109867585,3.09003153 -0.0325396573,3.29637729 0.0243152648,3.47738142 C-0.0325396573,3.65838554 0.0109867585,3.8647313 0.147793654,4.00153819 L2.95277402,6.80651857 C3.15435142,7.00809596 3.4882313,7.00103762 3.68525771,6.80401121 C3.88821988,6.60104904 3.88225492,6.26601738 3.68776506,6.07152753 L1.70421948,4.08798194 L7.99996393,4.08798194 L7.99996393,3.04854764 L1.52245273,3.04854764 Z" id="Combined-Shape" fill="#00B9BF" transform="translate(3.999982, 3.477381) scale(-1, 1) translate(-3.999982, -3.477381) "></path>
        </g>
    </svg>
    Download all
  </a>

  <br/>

  <!-- large buttons -->
  <a href="#" class="button button--large is-jadeOutline">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--large is-jade">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--large is-baseGrey">
    <span>Download all</span>
  </a>

  <span style="padding: 40px; background: black; display: block;">
    <a href="#" class="button button--large is-negative">
      <span>Download all</span>
    </a>
  </span>

  <a href="#" class="buttonLink buttonLink--large is-jade">
    <svg width="8px" height="7px" viewBox="0 0 8 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path class="buttonLink-media" d="M1.52245273,3.04854764 L3.68776506,0.883235307 C3.88225492,0.688745449 3.88821988,0.353713791 3.68525771,0.15075162 C3.4882313,-0.0462747862 3.15435142,-0.053333131 2.95277402,0.148244267 L0.147793654,2.95322464 C0.0109867585,3.09003153 -0.0325396573,3.29637729 0.0243152648,3.47738142 C-0.0325396573,3.65838554 0.0109867585,3.8647313 0.147793654,4.00153819 L2.95277402,6.80651857 C3.15435142,7.00809596 3.4882313,7.00103762 3.68525771,6.80401121 C3.88821988,6.60104904 3.88225492,6.26601738 3.68776506,6.07152753 L1.70421948,4.08798194 L7.99996393,4.08798194 L7.99996393,3.04854764 L1.52245273,3.04854764 Z" id="Combined-Shape" fill="#00B9BF" transform="translate(3.999982, 3.477381) scale(-1, 1) translate(-3.999982, -3.477381) "></path>
        </g>
    </svg>
    Download all
  </a>


```
*/

// Colors Button
$button-colors: (
  is-jade: $jade,
  is-emerald: $emerald,
  is-baseGrey: $base-grey,
  is-white: $white
);

@mixin outline($color) {
  border: 2px solid $color;
  color: $color;
}

@mixin paddingButton($pH, $pV) {
  padding: $pH $pV;
}

.button {
  display: inline-block;
  border-radius: 4px;
  font: 600 12px/16px $font-family-titles;
  min-width: 140px;
  padding: 16px 26px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }

  > span {
    position: relative;
    // z-index: 2;
  }

  @each $name, $color in $button-colors {
    &.#{$name} {
      background-color: $color;
      color: $white;
      &:after {
        content: '';
        background: rgba(lighten($color, 40%), 0.24)
      }
    }
    &.#{$name}Outline {
      @include outline($color);
      @include paddingButton(14px, 24px);
      &:after {
        content: '';
        background: rgba($color, 0.08)
      }
    }

    &:before {
      display: block;
      content: "";
      width: 100%;
    }
    &:after {
      content: '';
      @include circle;
    }
  }

  &.is-negative {
    color: $white;
    border: 2px solid $white;
    &:after {
      background: rgba($white, 0.16);
    }
  }
}


.buttonLink {
  font: 600 12px/16px $font-family-titles;
  text-transform: uppercase;
  overflow: hidden;
  display: inline-block;
  letter-spacing: 1px;

  svg {
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease-in;
    margin-right: 8px;
  }
  @each $name, $color in $button-colors {
    &.#{$name} {
      color: $color;
      .buttonLink-media {
        fill: $color;
      }
    }
  }
  &:hover {
    svg {
      transform: translate3d(4px, 0, 0);
    }
    //TODO: MOVE TO GENERALS
    text-decoration: none;
  }
  &.buttonLink--large {
    font: 600 16px/24px $font-family-titles;
  }
}

.button--small {
  min-width: 120px;
  padding: 8px 12px;
  letter-spacing: 1px;

  @each $name, $color in $button-colors {
    &.#{$name}Outline {
      @include paddingButton(6px, 10px);
    }
  }
}

.button--large {
  font: 600 16px/24px $font-family-titles;
}
