/* SG 
# Footer
```
<footer>
    <div class="Grid Footer desktop">
      <div class="Grid-inner Grid-inner--shortpadding">
        <div class="Grid-cell Grid-cell--col6 Grid-cell--col3--tablet">
          LOGO
        </div>

        <ul class="Grid-cell Grid-cell--col2 Grid-cell--col3--tablet">
          <li class="FooterElement">Products</li>
          <li class="FooterElement"><a href="#" class="FooterLink">Product 1 </a></li>
          <li class="FooterElement"><a href="#" class="FooterLink">Product 2 </a></li>
          <li class="FooterElement"><a href="#" class="FooterLink">Product 3 </a></li>
          <li class="FooterElement"><a href="#" class="FooterLink">Product 4 </a></li>
        </ul>

        <ul class="Grid-cell Grid-cell--col2 Grid-cell--col3--tablet">
          <li class="FooterElement">Resources</li>
          <li class="FooterElement"><a href="#" class="FooterLink">Resource 1 </a></li>
          <li class="FooterElement"><a href="#" class="FooterLink">Resource 2 </a></li>
          <li class="FooterElement"><a href="#" class="FooterLink">Resource 3 </a></li>
          <li class="FooterElement"><a href="#" class="FooterLink">Resource 4 </a></li>
        </ul>

        <ul class="Grid-cell Grid-cell--col2 Grid-cell--col3--tablet">
          <li class="FooterElement">About us</li>
          <li class="FooterElement"><a href="#" class="FooterLink">Topic 1 </a></li>
          <li class="FooterElement"><a href="#" class="FooterLink">Topic 2 </a></li>
          <li class="FooterElement"><a href="#" class="FooterLink">Topic 3 </a></li>
          <li class="FooterElement"><a href="#" class="FooterLink">Topic 4 </a></li>
        </ul>
      </ul>
    </div>
  </div>

  <div class="Grid Footer mobile">
    <div class="Grid-inner Grid-inner--shortpadding">
      <div class="Grid-cell Grid-cell--col12 u-vspace--8">
        <p>Products</p>
      </div>
      <ul class="Grid-cell Grid-cell--col6">
        <li class="FooterElement"><a href="#" class="FooterLink">Product 1 </a></li>
        <li class="FooterElement"><a href="#" class="FooterLink">Product 2 </a></li>
      </ul>
      <ul class="Grid-cell Grid-cell--col6">
        <li class="FooterElement"><a href="#" class="FooterLink">Product 3 </a></li>
        <li class="FooterElement"><a href="#" class="FooterLink">Product 4 </a></li>
      </ul>


      <div class="Grid-cell Grid-cell--col12 u-tspace--32 u-vspace--8">
        <p>Resources</p>
      </div>
      <ul class="Grid-cell Grid-cell--col6">
        <li class="FooterElement"><a href="#" class="FooterLink">Resource 1 </a></li>
        <li class="FooterElement"><a href="#" class="FooterLink">Resource 2 </a></li>
      </ul>
      <ul class="Grid-cell Grid-cell--col6">
        <li class="FooterElement"><a href="#" class="FooterLink">Resource 3 </a></li>
        <li class="FooterElement"><a href="#" class="FooterLink">Resource 4 </a></li>
      </ul>


      <div class="Grid-cell Grid-cell--col12 u-tspace--32 u-vspace--8 ">
        <p>About us</p>
      </div>
      <ul class="Grid-cell Grid-cell--col6">
        <li class="FooterElement"><a href="#" class="FooterLink">Topic 1 </a></li>
        <li class="FooterElement"><a href="#" class="FooterLink">Topic 2 </a></li>
      </ul>
      <ul class="Grid-cell Grid-cell--col6">
        <li class="FooterElement"><a href="#" class="FooterLink">Topic 3 </a></li>
        <li class="FooterElement"><a href="#" class="FooterLink">Topic 4 </a></li>
      </ul>
    </div>
  </div>

</footer>
```
*/
footer {
  background-color: $white;
}

.Footer {
  padding-top: 96px;

  .FooterElement {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .FooterLink {
    color: $typo2;
    transition: all .2s ease;

    &:hover {
    color: $link;
    text-decoration: none;
    }
  }

  @media (max-width: $layout-mobile) {
    padding-top: 48px;
  }
}

.Footer-social {
  padding-top: 64px;
  padding-bottom: 64px;
  @media (max-width: $layout-mobile) {
    align-items: center;
    height: 100px;
    margin-top: 40px;
    border-top: 1px solid $light-grey;
  }
}