/* SG
# Forms
```
<!-- Inputs -->
<input type="text" class="input" placeholder="John" />
<br/><br/><br/>

<!-- Selects -->
<select class="select">
  <option value="value1">Value 1</option> 
  <option value="value2" selected>Value 2</option>
  <option value="value3">Value 3</option>
</select>
<br/><br/><br/>

<!-- RadioButtons -->
<input type="radio" name="contact" value="01" class="radio" checked>
<input type="radio" name="contact" value="02" class="radio">
```
*/

// Hangar Forms

:focus {
  outline: none;
}


.input {
  border: 1px solid rgba($base-grey, 0.16);
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  transition: border 150ms ease-in;
  font: 12px/16px $font-family-base;
  color: $base-grey;

  &:hover {
    border: 1px solid $link; 
  }
  &:focus {
    border: 1px solid $base-grey;
  }
}


.select {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid rgba($base-grey, 0.16);
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  transition: border 150ms ease-in;
  font: 12px/16px $font-family-base;
  color: $base-grey;

  &:hover {
    border: 1px solid $link; 
  }
  &:focus {
    border: 1px solid $base-grey;
  }
}

.radio {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  width: $spacing-unit*2;
  height: $spacing-unit*2;
  border: 1px solid rgba($base-grey, 0.16);
  border-radius: 50%;
}

