/* SG
# Tabs Button
```
  <nav class="js-Tabs">
    <ul class="button-group">
      <li class="button-groupItem">
        <a class="button-groupAction js-Tab" href="#tab-button-1-section">Item 1</a>
      </li>
      <li class="button-groupItem">
        <a class="button-groupAction js-Tab" href="#tab-button-2-section">Item 2</a>
      </li>
      <li class="button-groupItem">
        <a class="button-groupAction js-Tab" href="#tab-button-3-section">Item 3</a>
      </li>
      <li class="button-groupItem">
        <a class="button-groupAction js-Tab is-active" href="#tab-button-4-section">Item 4</a>
      </li>
    </ul>
  </nav>
```
*/


.button-group {
  display: flex;
  border: 1px solid rgba($base-grey, 0.16);
  border-radius: 4px;
  overflow: hidden;

}
.button-groupAction {
  padding: 12px 44px;
  border-left: 1px solid rgba($base-grey, 0.16);
  text-align: center;
  width: 100%;
  font: 600 12px/16px 'Montserrat' ;
  display: inline-block;
  color: $base-grey;
  &.is-active {
    background: $docs-purple;
    color: $white;
    border: 0;
  }
  &:hover {
    text-decoration: none;
  }
  @media (max-width: $layout-mobile) {
    &.button-groupAction--mobile{
      padding: 12px 8px;
    }
  }
}
.button-groupItem {
  flex: 1;
  &:first-child .button-groupAction {
    border-left: 0;
  }
}