/* SG
# Tab Bars
```
<nav class="js-Tabs">
    <ul class="tab-navigation is-red">
        <li class="tab-navigationItem">
            <a class="tab-navigationAction js-Tab is-active" href="#tab-bar-1">
              Tab Bar 1
            </a>
        </li>
        <li class="tab-navigationItem">
            <a class="tab-navigationAction js-Tab" href="##tab-bar-2">
              Tab Bar 2
            </a>
        </li>
    </ul>
</nav>
```
*/

// Hangar Tab bars


.tab-navigation {
  display: flex;
  border-bottom: 1px solid rgba($base-grey, 0.16);

  &.is-purple .tab-navigationAction {
    color: $opal;
    &:hover {
      text-decoration: none;
      border-bottom: 4px solid $opal;
    }
    &.is-active {
      border-bottom: 4px solid $docs-purple;
      color: $base-grey;

    }
  }

  &.is-red .tab-navigationAction {
    color: $jade;
    &:hover {
      text-decoration: none;
      border-bottom: 4px solid $jade;
    }
    &.is-active {
      border-bottom: 4px solid $solutions-red;
      color: $base-grey;
    }
  }

  &.is-white .tab-navigationAction {
    color: $white;
    border-bottom: 1px solid $white;
    &:hover {
      text-decoration: none;
      border-bottom: 4px solid $white;
    }
    &.is-active {
      border-bottom: 4px solid $white;
      color: $white;

    }
  }
}

.tab-navigationItem {
  margin-right: 24px;
  font: 400 16px/24px 'Montserrat' ;

  &:last-child {
    margin-right: 0;
  }
}

.tab-navigationAction {
  display: block;
  padding-bottom: 12px;
  margin-bottom: -1px;
  border-bottom: 4px solid transparent;
  transition: border 300ms ease-in;
}

.tab-content {
  display: none;
  &.is-active {
    display: block;
  }
}
