/* SG
# Tooltips
```
  <p>Data attribute only <a href="#" tooltip-text="I’m the tooltip text">Tooltip</a></p>
  <br/><br/><br/><br/>
  <p><code>.tooltip-right</code> <a href="#" tooltip-position="right" tooltip-text="I’m the tooltip text.">Tooltip</a></p>
  <br/><br/><br/><br/>
  <p><code>.tooltip-bottom</code> <a href="#"tooltip-position="bottom" tooltip-text="I’m the tooltip text.">Tooltip</a></p>
  <br/><br/><br/><br/>
  <p><code>.tooltip-left</code> <a href="#" tooltip-position="left" tooltip-text="I’m the tooltip text.">Tooltip</a></p>

```
*/

// Hangar Tooltips


/* Base styles for the element that has a tooltip */
[tooltip-text]{
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[tooltip-text]:before,
[tooltip-text]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.2s ease-in-out, transform 0.3s ease-in;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[tooltip-text]:hover:before,
[tooltip-text]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
[tooltip-text]:before {
  content: "";
  border: 6px solid transparent;
  background: transparent;
}

/* Base styles for the tooltip's content area */
[tooltip-text]:after {
  content: attr(tooltip-text);
  padding: 8px;
  width: 120px;
  background-color: $base-grey;
  text-align: center;
  font: 12px/16px 'Open Sans';
  color: $white;
  border-radius: 3px;
}

/* Directions */

/* Top (default) */
[tooltip-text]:before,
[tooltip-text]:after {
  bottom: 100%;
  left: 50%;
}

[tooltip-text]:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: $base-grey;
}

/* Horizontally align top/bottom tooltips */
[tooltip-text]:after {
  margin-left: -60px;
}

[tooltip-text]:hover:before,
[tooltip-text]:hover:after {
  transform: translateY(-12px); 
}

/* Left */
[tooltip-position=left]:before,
[tooltip-position=left]:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

[tooltip-position=left]:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: $base-grey;
}

[tooltip-position=left]:hover:before,
[tooltip-position=left]:hover:after {
  transform: translateX(-12px); 
}

/* Bottom */
[tooltip-position=bottom]:before,
[tooltip-position=bottom]:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

[tooltip-position=bottom]:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: $base-grey;
}

[tooltip-position=bottom]:hover:before,
[tooltip-position=bottom]:hover:after {
  transform: translateY(12px); 
}

/* Right */
[tooltip-position=right]:before,
[tooltip-position=right]:after {
  bottom: 50%;
  left: 100%;
}

[tooltip-position=right]:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: $base-grey;
}

[tooltip-position=right]:hover:before,
[tooltip-position=right]:hover:after {
  transform: translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
[tooltip-position=left]:before,
[tooltip-position=right]:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
[tooltip-position=left]:after,
[tooltip-position=right]:after {
  margin-left: 0;
  margin-bottom: -16px;
}

