/* SG
# Tooltips
```
  <p><a href="#" data-tooltip="I’m the tooltip text.">I’m a link with a tooltip.</a></p>
```
*/

// Hangar Tooltips

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;

  &:before {
    content: attr(data-tooltip);
    position: absolute;
    padding: 8px;
    max-width: 160px;
    border-radius: 3px;
    background-color: $base-grey;
    text-align: center;
    font: 12px/16px 'Open Sans';
    color: $white;
    top: -40px;
    left: 50%;
    margin-left: -50%;
    width: 100%;
  }
  &:after {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -4px;
    width: 0;
    border: 4px solid transparent;
    border-top: 4px solid $base-grey;
    font-size: 0;
    line-height: 0;
  }
}

[data-tooltip]:before,
[data-tooltip]:after {
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  animation: tooltipIn 600ms forwards;
}

@keyframes tooltipIn {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


