<footer class=Footer-container>
  <div class="grid Footer mobile--flex u-inner">
    <div class="grid-cell grid-cell--col12 u-vspace--8">
      <p class="title6">Products</p>
    </div>
    <ul class="grid-cell grid-cell--col6">
      {% for item in site.data.hangaralpha.footer.products | limit: 4 %}
        <li class="FooterElement"><a href="{{ item.url }}" class="FooterLink js-Action--Footerlinks">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="grid-cell grid-cell--col6">
      {% for item in site.data.hangaralpha.footer.products | offset: 4 %}
        <li class="FooterElement"><a href="{{ item.url }}" class="FooterLink js-Action--Footerlinks">{{ item.title }}</a></li>
      {% endfor %}
    </ul>


    <div class="grid-cell grid-cell--col12 u-tspace--32 u-vspace--8">
      <p class="title6">Resources</p>
    </div>
    <ul class="grid-cell grid-cell--col6">
      {% for item in site.data.hangaralpha.footer.resources | limit: 4 %}
        <li class="FooterElement"><a href="{{ item.url }}" class="FooterLink js-Action--Footerlinks">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="grid-cell grid-cell--col6">
      {% for item in site.data.hangaralpha.footer.resources | offset: 4 %}
        <li class="FooterElement"><a href="{{ item.url }}" class="FooterLink js-Action--Footerlinks">{{ item.title }}</a></li>
      {% endfor %}
        <li class="FooterElement"><a href="https://github.com/CartoDB/cartodb" title="Source Code" class="FooterLink">Source Code</a></li>
    </ul>


    <div class="grid-cell grid-cell--col12 u-tspace--32 u-vspace--8 ">
      <p class="title6">About us</p>
    </div>
    <ul class="grid-cell grid-cell--col6">
      {% for item in site.data.hangaralpha.footer.about | limit: 4 %}
        <li class="FooterElement"><a href="{{ item.url }}" class="FooterLink js-Action--Footerlinks">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="grid-cell grid-cell--col6">
      {% for item in site.data.hangaralpha.footer.about | offset: 4 %}
        <li class="FooterElement"><a href="{{ item.url }}" class="FooterLink js-Action--Footerlinks">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="grid Footer desktop--flex u-inner">
    <div class="Footer-logo grid-cell grid-cell--col6 grid-cell--col3--tablet">
      {% include hangaralpha/logo/logo_footer.svg %}
    </div>

    <ul class="grid-cell grid-cell--col2 grid-cell--col3--tablet">
      <li class="FooterElement title6">Products</li>
      {% for item in site.data.hangaralpha.footer.products %}
      <li class="FooterElement"><a href="{{ item.url }}" class="FooterLink js-Action--Footerlinks">{{ item.title }}</a></li>
      {% endfor %}
    </ul>

    <ul class="grid-cell grid-cell--col2 grid-cell--col3--tablet">
      <li class="FooterElement title6">Resources</li>
      {% for resources_item in site.data.hangaralpha.footer.resources %}
      <li class="FooterElement"><a href="{{ resources_item.url }}" class="FooterLink js-Action--Footerlinks">{{ resources_item.title }}</a></li>
      {% endfor %}
      <li class="FooterElement"><a href="https://github.com/CartoDB/cartodb" title="Source Code" class="FooterLink">Source Code</a></li>
    </ul>

    <ul class="grid-cell grid-cell--col2 grid-cell--col3--tablet">
      <li class="FooterElement title6">About us</li>
      {% for about_item in site.data.hangaralpha.footer.about %}
        <li class="FooterElement"><a href="{{ about_item.url }}" class="FooterLink js-Action--Footerlinks {{ about_item.className }}">{{ about_item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</footer>