///// Arrays
$colors: (
  CartoRed: $carto-red,
  SolutionsRed: $solutions-red,
  Jade: $jade,
  BuilderBlue: $builder-blue,
  EngineBlue: $engine-blue,
  LDSBlue: $lds-blue,
  Amber: $amber,
  GuidesPurple: $guides-purple,
  TutorialsPurple: $tutorials-purple,
  DocsPurple: $docs-purple,
  Emerald: $emerald,
  BaseGrey: $base-grey,
  White: $white,
  LightGrey: $light-grey,
  NavyBlue: $navy
);
