///// Arrays
$colors: (
  CartoRed: $carto-red,
  SolutionsRed: $solutions-red,
  BuilderBlue: $builder-blue,
  EngineBlue: $engine-blue,
  IntegrationsBlue: $integrations-blue,
  DataPurple: $data-purple,
  LearnPurple: $learn-purple,
  TutorialsPurple: $tutorials-purple,
  DocsPurple: $docs-purple,
  BaseGrey: $base-grey,
  Jade: $jade,
  White: $white,
  LightGrey: $light-grey,
  NavyBlue: $navy,
  InsideGreen: $inside-green
);