<div class="grid">
    <div class="grid-cell grid-cell--col12">
        <h1 class="title is-title u-vspace--8">Colors</h1>
        <p class="text is-body u-vspace--64">Coming from an open source company, it made sense picking open sourced typefaces for our brand.</p>
        <h2 class="title is-subheader u-vspace--8">Primary colors</h2>
        <p class="text is-caption u-vspace--24">This is a set of our Primary Brand Colors</p>
    </div>
</div>

<ul class="grid u-vspace--64">
    <li class="grid-cell grid-cell--col4">
        <dl class="color-box is-bgCartoRed grid grid--columm grid--space u-vspace--24">
            <dt class="title is-caption is-regular is-txtWhite">Location Red</dt>
            <dd>
                <ul>
                    <li>
                        <h4 class="title is-caption is-regular is-txtWhite u-vspace--12">#F24440</h4>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-txtCartoRed</span>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-bgCartoRed</span>
                    </li>
                </ul>
            </dd>
        </dl>
        <p class="text is-caption">This is our main color that represents our hole company and brand.</p>
    </li>
    <li class="grid-cell grid-cell--col4">
        <dl class="color-box is-bgBuilderBlue grid grid--columm grid--space u-vspace--24">
            <dt class="title is-caption is-regular is-txtWhite">Prediction Blue</dt>
            <dd>
                <ul>
                    <li>
                        <h4 class="title is-caption is-regular is-txtWhite u-vspace--12">#0079FB</h4>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-txtBuilderBlue</span>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-bgBuilderBlue</span>
                    </li>
                </ul>
            </dd>
        </dl>
        <p class="text is-caption">The main color of CARTO Builder and the one that represents our product.</p>
    </li>
    <li class="grid-cell grid-cell--col4">
        <dl class="color-box is-bgNavyBlue grid grid--columm grid--space u-vspace--24">
            <dt class="title is-caption is-regular is-txtWhite">Navy Blue</dt>
            <dd>
                <ul>
                    <li>
                        <h4 class="title is-caption is-regular is-txtWhite u-vspace--12">#162745</h4>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-txtNavyBlue</span>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-bgNavyBlue</span>
                    </li>
                </ul>
            </dd>
        </dl>
        <p class="text is-caption">We use Navy Blue for all the advanced environments dedicated to developers.</p>
    </li>
</ul>

<div class="grid">
    <div class="grid-cell grid-cell--col12">
        <h2 class="title is-subheader u-vspace--8">Secondary colors</h2>
        <p class="text is-caption u-vspace--24">This is a set of our secondary and complementary colors </p>
    </div>
</div>

<ul class="grid">
    <li class="grid-cell grid-cell--col4 u-vspace--20">
        <dl class="color-box is-bgCartoRed grid grid--columm grid--space">
            <dt class="title is-caption is-regular is-txtWhite">Solutions Red</dt>
            <dd>
                <ul>
                    <li>
                        <h4 class="title is-caption is-regular is-txtWhite u-vspace--12">#FF583E</h4>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-txtSolutionsRed</span>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-bgSolutionsRed</span>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
    <li class="grid-cell grid-cell--col4 u-vspace--20">
        <dl class="color-box is-bgCartoRed grid grid--columm grid--space">
            <dt class="title is-caption is-regular is-txtWhite">Engine Blue</dt>
            <dd>
                <ul>
                    <li>
                        <h4 class="title is-caption is-regular is-txtWhite u-vspace--12">#2E51E8</h4>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-txtEngineBlue</span>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-bgEngineBlue</span>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
    <li class="grid-cell grid-cell--col4 u-vspace--20">
        <dl class="color-box is-bgLDSBlue grid grid--columm grid--space">
            <dt class="title is-caption is-regular is-txtWhite">LDS Blue</dt>
            <dd>
                <ul>
                    <li>
                        <h4 class="title is-caption is-regular is-txtWhite u-vspace--12">#3D33CC</h4>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-txtLDSBlue</span>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-bgLDSBlue</span>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
    <li class="grid-cell grid-cell--col4 u-vspace--20">
        <dl class="color-box is-bgGuidesPurple grid grid--columm grid--space">
            <dt class="title is-caption is-regular is-txtWhite">Guides Purple</dt>
            <dd>
                <ul>
                    <li>
                        <h4 class="title is-caption is-regular is-txtWhite u-vspace--12">#7D21F5</h4>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-txtGuidesPurple</span>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-bgGuidesPurple</span>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
    <li class="grid-cell grid-cell--col4 u-vspace--20">
        <dl class="color-box is-bgTutorialsPurple grid grid--columm grid--space">
            <dt class="title is-caption is-regular is-txtWhite">Tutorials Purple</dt>
            <dd>
                <ul>
                    <li>
                        <h4 class="title is-caption is-regular is-txtWhite u-vspace--12">#6E00DC</h4>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-txtTutorialsPurple</span>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-bgTutorialsPurple</span>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
    <li class="grid-cell grid-cell--col4 u-vspace--20">
        <dl class="color-box is-bgDocsPurple grid grid--columm grid--space">
            <dt class="title is-caption is-regular is-txtWhite">Docs Purple</dt>
            <dd>
                <ul>
                    <li>
                        <h4 class="title is-caption is-regular is-txtWhite u-vspace--12">#3D33CC</h4>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-txtDocsPurple</span>
                    </li>
                    <li>
                        <span class="color-boxInfo textCode is-caption is-txtWhite">.is-bgDocsPurple</span>
                    </li>
                </ul>
            </dd>
        </dl>
    </li>
</ul>