<div class="grid">
    <div class="grid-cell grid-cell--col12">
        <h1 class="title is-title u-vspace--4">Colors</h1>
        <p class="text is-body u-vspace--48">Description</p>
        <h2 class="title is-subheader u-vspace--4">Primary colors</h2>
        <p class="text is-body u-vspace--12">This is a set of our primary brand colors</p>
    </div>
</div>

<ul class="grid u-vspace--48">
    <li class="grid-cell grid-cell--col4">
        <div class="color-box is-bgCartoRed">
            <p class="color-name title is-caption">Location Red</p>
            <p class="color-code title is-caption">#F24440</p>
            <div class="class-container"><p class="color-class">.is-txtCartoRed</p></div>
            <div class="class-container"><p class="color-class">.is-bgCartoRed</p></div>
        </div>
        <p class="text is-body">This is our main color that represents our hole company and brand.</p>
    </li>
    <li class="grid-cell grid-cell--col4">
        <div class="color-box is-bgBuilderBlue">
            <p class="color-name title is-caption">Prediction Blue</p>
            <p class="color-code title is-caption">#0079FB</p>
            <div class="class-container"><p class="color-class">.is-txtBuilderBlue</p></div>
            <div class="class-container"><p class="color-class">.is-bgBuilderBlue</p></div>
        </div>
        <p class="text is-body">The main color of CARTO Builder and the one that represents our product.</p>
    </li>
    <li class="grid-cell grid-cell--col4">
        <div class="color-box is-bgNavyBlue">
            <p class="color-name title is-caption">Navy Blue</p>
            <p class="color-code title is-caption">#162745</p>
            <div class="class-container"><p class="color-class">.is-txtNavyBlue</p></div>
            <div class="class-container"><p class="color-class">.is-bgNavyBlue</p></div>
        </div>
        <p class="text is-body">We use Navy Blue for all the advanced environments dedicated to developers.</p>
    </li>
</ul>

<div class="grid">
    <div class="grid-cell grid-cell--col12">
        <h2 class="title is-subheader u-vspace--4">Secondary colors</h2>
        <p class="text is-body u-vspace--12">This is a set of our secondary and complementary colors</p>
    </div>
</div>

<ul class="grid u-vspace--48">
    <li class="grid-cell grid-cell--col4">
        <div class="color-box is-bgCartoRed">
            <p class="color-name title is-caption">Solutions Red</p>
            <p class="color-code title is-caption">#FF583E</p>
            <div class="class-container"><p class="color-class">.is-txtSolutionsRed</p></div>
            <div class="class-container"><p class="color-class">.is-bgSolutionsRed</p></div>
        </div>
    </li>
    <li class="grid-cell grid-cell--col4">
        <div class="color-box is-bgBuilderBlue">
            <p class="color-name title is-caption">Engine Blue</p>
            <p class="color-code title is-caption">#2E51E8</p>
            <div class="class-container"><p class="color-class">.is-txtEngineBlue</p></div>
            <div class="class-container"><p class="color-class">.is-bgEngineBlue</p></div>
        </div>
    </li>
    <li class="grid-cell grid-cell--col4">
        <div class="color-box is-bgLDSBlue">
            <p class="color-name title is-caption">LDS Blue</p>
            <p class="color-code title is-caption">#3D33CC</p>
            <div class="class-container"><p class="color-class">.is-txtLDSBlue</p></div>
            <div class="class-container"><p class="color-class">.is-bgLDSBlue</p></div>
        </div>
    </li>
    <li class="grid-cell grid-cell--col4">
        <div class="color-box is-bgGuidesPurple">
            <p class="color-name title is-caption">Guides Purple</p>
            <p class="color-code title is-caption">#7D21F5</p>
            <div class="class-container"><p class="color-class">.is-txtGuidesPurple</p></div>
            <div class="class-container"><p class="color-class">.is-bgGuidesPurple</p></div>
        </div>
    </li>
    <li class="grid-cell grid-cell--col4">
        <div class="color-box is-bgTutorialsPurple">
            <p class="color-name title is-caption">Tutorials Purple</p>
            <p class="color-code title is-caption">#6E00DC</p>
            <div class="class-container"><p class="color-class">.is-txtTutorialsPurple</p></div>
            <div class="class-container"><p class="color-class">.is-bgTutorialsPurple</p></div>
        </div>
    </li>
    <li class="grid-cell grid-cell--col4">
        <div class="color-box is-bgDocsPurple">
            <p class="color-name title is-caption">Docs Purple</p>
            <p class="color-code title is-caption">#3D33CC</p>
            <div class="class-container"><p class="color-class">.is-txtDocsPurple</p></div>
            <div class="class-container"><p class="color-class">.is-bgDocsPurple</p></div>
        </div>
    </li>
</ul>