<h1 class="title is-title u-vspace--4">Components</h1>
<p class="text is-body u-vspace--48">Description</p>
<ul>
  <li class="u-vspace--48">
    {% include components/cards.html %}
  </li>
  <li class="u-vspace--48">
    {% include components/tables.html %}
  </li>
  <li class="u-vspace--48">
    {% include components/tab-bars.html %}
  </li>
  <li class="u-vspace--48">
    {% include components/tooltips.html %}
  </li>
  <li class="u-vspace--48">
    {% include components/alerts.html %}
  </li>
</ul>