{% assign regular-form = '<input type="text" class="input" placeholder="John">'%}

{% assign dropdown-form = '<select class="select">
    <option value="value1">Value 1</option> 
    <option value="value2" selected>Value 2</option>
    <option value="value3">Value 3</option>
</select>' %}
      
{% assign error-form = '<input type="text" class="input is-error" placeholder="Error">' %}

{% assign radio-button = '<div class="u-flex">
  <span class="radio" style="margin-right: 20px;">
    <input class="radio-input" type="radio" name="contact" value="01">
    <span class="radio-decoration"></span>
  </span>
  <span class="radio" style="margin-right: 20px;">
    <input class="radio-input" type="radio" name="contact" value="02" checked>
    <span class="radio-decoration"></span>
  </span>
</div>' %}

{% assign checkbox = '<div class="u-flex">
        <span class="checkbox" style="margin-right: 20px;">
          <input class="checkbox-input" type="checkbox" name="contact" value="01">
          <span class="checkbox-decoration">
            <svg width="12px" height="12" class="checkbox-decorationMedia">
                <g fill="none">
                 <polyline class="checkbox-check" points="1.65093994 3.80255127 4.48919678 6.97192383 10.3794556 0.717346191"></polyline>
                </g>
            </svg>
          </span>
        </span>
        <span class="checkbox" style="margin-right: 20px;">
          <input class="checkbox-input" type="checkBox" name="contact" value="02" checked>
          <span class="checkbox-decoration">
            <svg width="12px" height="12" class="checkbox-decorationMedia">
                <g fill="none">
                 <polyline class="checkbox-check" points="1.65093994 3.80255127 4.48919678 6.97192383 10.3794556 0.717346191"></polyline>
                </g>
            </svg>
          </span>
        </span>
      </div>' %}

<h2 class="title is-title">Forms</h2>
<p class="text is-body">Description</p>

<ul>
    <li class="grid grid--out grid--center u-vspace--32">
        <div class="grid-cell grid-cell--col3">
            <p class="text is-small u-vspace--8">Regular</p>
            {{regular-form}}
        </div>
        <div class="grid-cell grid-cell--col9"><pre><code class="html hljs">{{regular-form | escape}}</code></pre></div>
    </li>
    <li class="grid grid--out u-vspace--32">
        <div class="grid-cell grid-cell--col3">
            <p class="text is-small u-vspace--8">Dropdown</p>
            {{dropdown-form}}
        </div>
        <div class="grid-cell grid-cell--col9"><pre><code class="html hljs">{{dropdown-form | escape}}</code></pre></div>
    </li>
    <li class="grid grid--out grid--center u-vspace--32">
        <div class="grid-cell grid-cell--col3">
            <p class="text is-small u-vspace--8">Error</p>
            {{error-form}}
        </div>
        <div class="grid-cell grid-cell--col9"><pre><code class="html hljs">{{error-form | escape}}</code></pre></div>
    </li>
    <li class="grid grid--out u-vspace--32">
        <div class="grid-cell grid-cell--col3">
            <p class="text is-small u-vspace--8">Radio Buttons</p>
            {{radio-button}}
        </div>
        <div class="grid-cell grid-cell--col9"><pre><code class="html hljs">{{radio-button | escape}}</code></pre></div>
    </li>
    <li class="grid grid--out u-vspace--32">
        <div class="grid-cell grid-cell--col3">
            <p class="text is-small u-vspace--8">Checkboxess</p>
            {{checkbox}}
        </div>
        <div class="grid-cell grid-cell--col9"><pre><code class="html hljs">{{checkbox | escape}}</code></pre></div>
    </li>
</ul>
