
{% assign grid = '<div class="container-grid container--1-11">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--2-10">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--3-9">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--4-8">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--5-7">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--6-6">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--11-1">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--10-2">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--9-3">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--8-4">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--7-5">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--3x4">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--4x3">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--6x2">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>
<br/>
<div class="container-grid container--12x1">
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
    <div class="box-grid"></div>
</div>' %}

{% assign flexgrid = '<div class="grid grid--out">
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col11">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col2">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col10">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col3">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col9">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col4">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col8">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col5">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col7">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col6">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col6">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col7">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col5">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col8">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col4">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col9">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col3">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col10">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col2">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col11">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col4">
        <div class="box-grid"></div> 
    </div>
    <div class="grid-cell grid-cell--col4">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col4">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col3">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col3">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col3">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col3">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col2">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col2">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col2">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col2">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col2">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col2">
        <div class="box-grid"></div>
    </div>
</div>
<br/>
<div class="grid grid--out">
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
    <div class="grid-cell grid-cell--col1">
        <div class="box-grid"></div>
    </div>
</div>' %}

<div class="grid">
    <div class="grid-cell grid-cell--col12">
        <h2 class="title is-title u-vspace--4">Grid System</h2>
        <p class="text is-body u-vspace--32">Coming from an open source company, it made sense picking open sourced typefaces for our brand.</p>
        <nav class="u-vspace--32">
            <ul class="tab-navigation is-red">
                <li class="tab-navigationItem">
                    <a href="#" class="tab-navigationAction is-active" onclick="activate(event, this, 'flexbox-section')">Flexbox</a>
                </li>
                <li class="tab-navigationItem">
                    <a href="#" class="tab-navigationAction" onclick="activate(event, this, 'grid-section')">Grid</a>
                </li>
            </ul>
        </nav>
        <div id="grid-section" class="section-container ">
            <div class="grid u-vspace--24">
                <div class="grid-cell--col6">
                    <h3 class="title is-subheader">Desktop</h3>
                    <p>940px wide grid</p>
                </div>
            </div>
            <div class="u-vspace--24">{{grid}}</div>
            <pre><code class="html hljs">{{grid | escape}}</code></pre>
        </div>
        <div id="flexbox-section" class="section-container show">
            <div class="grid u-vspace--24">
                <div class="grid-cell--col6">
                    <h3 class="title is-subheader">Desktop</h3>
                    <p>940px wide grid</p>
                </div>
            </div>
            <div class="u-vspace--24">{{flexgrid}}</div>
            <pre><code class="html hljs">{{flexgrid | escape}}</code></pre>
        </div>
    </div>
</div>
