<div class="grid">
  <div class="grid-cell grid-cell--col6">
    <h2 class="title is-caption is-regular is-txtTypo2">INTRODUCING</h2>
    <h1 class="title is-jumbo is-txtSolutionsRed">
      Hangar Framework
    </h1>
    <p class="text is-body u-vspace--48">Our very own Design Framework is now Open Source!</p>
  </div>
  <div class="grid-cell grid-cell--col12">
      <ul class="grid grid--center grid--out">
        <li class="grid-cell">
          <a href="#" class="button is-jade u-block">
            <span>Download .scketch files</span>
          </a>
        </li>
        <li class="grid-cell">
          <a href="https://github.com/CartoDB/hangar-alpha" class="buttonLink is-jade button-link-container u-block">{%include icons/arrow-right.svg%}View code on GitHub</a>
        </li>
      </ul>
  </div>
</div>
