<div class="grid">
  <div class="grid-cell grid-cell--col6">
    <h2 class="title is-caption is-txtTypo2">Introducing</h2>
    <h1 class="title is-jumbo is-TxtSolutionsRed">
      Hangar Framework
    </h1>
    <p class="text is-body u-vspace--48">Our very own Design Framework is now Open Source!</p>
  </div>
  <div class="grid-cell grid-cell--col12">
    <div class="grid grid--center">
      <a href="#" class="button is-jade u-rspace--32">
        <span>Download .scketch files</span>
      </a>
      <a href="https://github.com/CartoDB/hangar-alpha" class="buttonLink is-jade button-link-container">{%include icons/arrow-right.svg%}View code on GitHub</a>
    </div>
  </div>
</div>