<div id="navigator-container" class="navigation">
    <div class="container">
        <nav class="grid">
            <ul class="grid-cell grid-cell--col12 navigation-menu">
                <li class="top-menuItem u-rspace--32"><a href="#grid" class="is-txtJade text is-caption">Grid system</a></li>
                <li class="top-menuItem u-rspace--32"><a href="#typography" class="is-txtJade text is-caption">Typography</a></li>
                <li class="top-menuItem u-rspace--32"><a href="#colors" class="is-txtJade text is-caption">Colors</a></li>
                <li class="top-menuItem u-rspace--32"><a href="#buttons" class="is-txtJade text is-caption">Buttons</a></li>
                <li class="top-menuItem u-rspace--32"><a href="#forms" class="is-txtJade text is-caption">Forms</a></li>
                <li class="top-menuItem"><a href="#components" class="is-txtJade text is-caption">Components</a></li>
            </ul>
        </nav>
    </div>
</div>