<div id="navigator-container">
    <div class="container">
        <ul class="top-menu">
            <li class="top-menuItem"><a href="#grid" class="is-txtJade text is-caption">Grid system</a></li>
            <li class="top-menuItem"><a href="#typography" class="is-txtJade text is-caption">Typography</a></li>
            <li class="top-menuItem"><a href="#colors" class="is-txtJade text is-caption">Colors</a></li>
            <li class="top-menuItem"><a href="#buttons" class="is-txtJade text is-caption">Buttons</a></li>
            <li class="top-menuItem"><a href="#forms" class="is-txtJade text is-caption">Forms</a></li>
            <li class="top-menuItem"><a href="#components" class="is-txtJade text is-caption">Components</a></li>
        </ul>
    </div>
</div>