/* SG
# Buttons
```
  <!-- normal buttons -->
  <a href="#" class="button is-turquoiseOutline">
    <span>Download all</span>
  </a>

  <a href="#" class="button is-redOutline">
    <span>Download all</span>
  </a>

  <a href="#" class="button is-baseGreyOutline">
    <span>Download all</span>
  </a>

  <a href="#" class="button is-red">
    <span>Download all</span>
  </a>

  <a href="#" class="button is-turquoise">
    <span>Download all</span>
  </a>

  <a href="#" class="button is-baseGrey">
    <span>Download all</span>
  </a>

  <br/>

  <!-- small buttons -->
  <a href="#" class="button button--small is-turquoiseOutline">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--small is-redOutline ">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--small is-baseGreyOutline ">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--small is-red">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--small is-baseGrey">
    <span>Download all</span>
  </a>

  <br/>  

  <!-- large buttons -->
  <a href="#" class="button button--large is-turquoiseOutline">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--large is-redOutline">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--large is-baseGreyOutline ">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--large is-red">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--large is-turquoise">
    <span>Download all</span>
  </a>

  <a href="#" class="button button--large is-baseGrey">
    <span>Download all</span>
  </a>

```
*/

// Colors Button
$button-colors: (
  is-turquoise: $turquoise,
  is-red: $carto-red,
  is-baseGrey: $base-grey
);

@mixin outline($color) {
  border: 2px solid $color;
  color: $color;
}

@mixin paddingButton($pH, $pV) {
  padding: $pH $pV;
}

.button {
  display: inline-block;
  border-radius: 4px;
  font: 600 12px/16px $font-family-titles;
  min-width: 140px;
  padding: 16px 26px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  overflow: hidden;

  > span {
    position: relative;
    z-index: 2;
  }

  @each $name, $color in $button-colors {
    &.#{$name} {
      background-color: $color;
      color: $typo4;
      &:after {
        content: '';
        background: rgba(lighten($color, 40%), 0.24)
      }
    }
    &.#{$name}Outline {
      @include outline($color);
      @include paddingButton(14px, 24px);
      &:after {
        content: '';
        background: rgba($color, 0.08)
      }
    }

    &:before {
      display: block;
      content: "";
      width: 100%;
    }
    &:after {
      content: '';
      @include circle;
    }
  }

  &.is-negative {
    color: $typo4;
    border: 2px solid $white;
  }
  
  //TODO: MOVE TO GENERALS
  &:hover{
    text-decoration: none;
  }

}

.button--small {
  min-width: 120px;
  padding: 8px 12px;

  @each $name, $color in $button-colors {
    &.#{$name}Outline {
      @include paddingButton(6px, 10px);
    }
  }
}

.button--large {
  font: 600 16px/24px $font-family-titles;
}