/* SG
# Buttons
```
  <!-- normal buttons -->
  <a href="#" class="button is-turquoiseOutline circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <a href="#" class="button is-redOutline circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <a href="#" class="button is-red circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <a href="#" class="button is-turquoise circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <br/>

  <!-- small buttons -->
  <a href="#" class="button button--small is-turquoiseOutline circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <a href="#" class="button button--small is-redOutline circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <a href="#" class="button button--small is-red circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <a href="#" class="button button--small is-turquoise circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <br/>  

  <!-- large buttons -->
  <a href="#" class="button button--large is-turquoiseOutline circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <a href="#" class="button button--large is-redOutline circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <a href="#" class="button button--large is-red circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>

  <a href="#" class="button button--large is-turquoise circle-animation">
    <div class="circle-animationContent is-shadow"></div>
    <span>Download all</span>
  </a>
```
*/



// Colors Button
$button-colors: (
  is-turquoise: $turquoise,
  is-red: $carto-red,
  is-baseGrey: $base-grey,
  is-navy: $navy
);


@mixin outline($color) {
  border: 2px solid $color;
  color: $color;
}

@mixin paddingButton($pH, $pV) {
  padding: $pH $pV;
}

.button {
  display: inline-block;
  border-radius: 4px;
  font: 600 12px/16px $font-family-titles;
  min-width: 140px;
  padding: 16px 26px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  > span {
    position: relative;
  }

  @each $name, $color in $button-colors {
    &.#{$name} {
      background-color: $color;
      color: $typo4;
    }
    &.#{$name}Outline {
      @include outline($color);
      @include paddingButton(14px, 24px);
    }
  }

  &.is-negative {
    color: $typo4;
    border: 2px solid $white;
  }
  &:hover {
    text-decoration: none;
  }
}

.button--small {
  min-width: 120px;
  padding: 8px 12px;

  @each $name, $color in $button-colors {
    &.#{$name}Outline {
      @include paddingButton(6px, 10px);
    }
  }
}

.button--large {
  font: 600 16px/24px $font-family-titles;
}

