/* SG
# Cards
```

  <div style="width: 300px">
    <a href="#" class="box is-bgCartoRed box-animationJade u-vspace--24 js-boxContent">
      <div class="circle-content">
        <p>Click to Download</p>
        <svg width="21px" height="15px" viewBox="0 0 21 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M0.244060027,9.21956273 C-0.0820328754,8.90226422 -0.0811578497,8.3825853 0.245518404,8.06585289 L2.34499668,6.0281794 C2.67167293,5.71088089 3.2066053,5.71088089 3.53357323,6.0276133 L6.94325662,9.32910289 C7.27022455,9.6458353 7.80457357,9.6452692 8.13095814,9.32797069 L17.4750657,0.238967592 C17.8014503,-0.078330919 18.3363826,-0.0800292161 18.6642256,0.236137096 L20.7532036,2.24890223 C21.0810465,2.56506854 21.0825049,3.08304916 20.7561203,3.40063072 L9.42482945,14.422862 C9.09844487,14.7401605 8.45355094,15 7.99153739,15 L7.01267533,15 C6.55066177,15 5.90635119,14.7395944 5.58025829,14.4222959 L0.244060027,9.21956273" fill="#FFFFFF"></path>
        </svg>
      </div>
      text
    </a>
  </div>

  <div style="width: 300px">
    <a href="#" class="box is-bgBuilderBlue box-animationCartoRed u-vspace--24 js-boxContent">
      <div class="circle-content">
        <p>Click to Download</p>
        <svg width="21px" height="15px" viewBox="0 0 21 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M0.244060027,9.21956273 C-0.0820328754,8.90226422 -0.0811578497,8.3825853 0.245518404,8.06585289 L2.34499668,6.0281794 C2.67167293,5.71088089 3.2066053,5.71088089 3.53357323,6.0276133 L6.94325662,9.32910289 C7.27022455,9.6458353 7.80457357,9.6452692 8.13095814,9.32797069 L17.4750657,0.238967592 C17.8014503,-0.078330919 18.3363826,-0.0800292161 18.6642256,0.236137096 L20.7532036,2.24890223 C21.0810465,2.56506854 21.0825049,3.08304916 20.7561203,3.40063072 L9.42482945,14.422862 C9.09844487,14.7401605 8.45355094,15 7.99153739,15 L7.01267533,15 C6.55066177,15 5.90635119,14.7395944 5.58025829,14.4222959 L0.244060027,9.21956273" fill="#FFFFFF"></path>
        </svg>
      </div>
      text
    </a>
  </div>

  <div style="width: 300px">
    <a href="#" class="box is-bgBaseGrey box-animationCartoRed u-vspace--24 js-boxContent">
      <div class="circle-content">
        <p>Click to Download</p>
        <svg width="21px" height="15px" viewBox="0 0 21 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M0.244060027,9.21956273 C-0.0820328754,8.90226422 -0.0811578497,8.3825853 0.245518404,8.06585289 L2.34499668,6.0281794 C2.67167293,5.71088089 3.2066053,5.71088089 3.53357323,6.0276133 L6.94325662,9.32910289 C7.27022455,9.6458353 7.80457357,9.6452692 8.13095814,9.32797069 L17.4750657,0.238967592 C17.8014503,-0.078330919 18.3363826,-0.0800292161 18.6642256,0.236137096 L20.7532036,2.24890223 C21.0810465,2.56506854 21.0825049,3.08304916 20.7561203,3.40063072 L9.42482945,14.422862 C9.09844487,14.7401605 8.45355094,15 7.99153739,15 L7.01267533,15 C6.55066177,15 5.90635119,14.7395944 5.58025829,14.4222959 L0.244060027,9.21956273" fill="#FFFFFF"></path>
        </svg>
      </div>
      text
    </a>
  </div>

  <div style="width: 300px">
    <a href="#" class="box is-bgLightGrey box-animationCartoRed  u-vspace--24 js-boxContent">
      <div class="circle-content">
        <p>Click to Download</p>
        <svg width="21px" height="15px" viewBox="0 0 21 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M0.244060027,9.21956273 C-0.0820328754,8.90226422 -0.0811578497,8.3825853 0.245518404,8.06585289 L2.34499668,6.0281794 C2.67167293,5.71088089 3.2066053,5.71088089 3.53357323,6.0276133 L6.94325662,9.32910289 C7.27022455,9.6458353 7.80457357,9.6452692 8.13095814,9.32797069 L17.4750657,0.238967592 C17.8014503,-0.078330919 18.3363826,-0.0800292161 18.6642256,0.236137096 L20.7532036,2.24890223 C21.0810465,2.56506854 21.0825049,3.08304916 20.7561203,3.40063072 L9.42482945,14.422862 C9.09844487,14.7401605 8.45355094,15 7.99153739,15 L7.01267533,15 C6.55066177,15 5.90635119,14.7395944 5.58025829,14.4222959 L0.244060027,9.21956273" fill="#FFFFFF"></path>
        </svg>
      </div>
      text
    </a>
  </div>

  <div style="width: 300px">
    <a href="#" class="box is-bgWhite box-animationBaseGrey u-vspace--24 js-boxContent">
      <div class="circle-content">
        <p>Click to Download</p>
        <svg width="21px" height="15px" viewBox="0 0 21 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M0.244060027,9.21956273 C-0.0820328754,8.90226422 -0.0811578497,8.3825853 0.245518404,8.06585289 L2.34499668,6.0281794 C2.67167293,5.71088089 3.2066053,5.71088089 3.53357323,6.0276133 L6.94325662,9.32910289 C7.27022455,9.6458353 7.80457357,9.6452692 8.13095814,9.32797069 L17.4750657,0.238967592 C17.8014503,-0.078330919 18.3363826,-0.0800292161 18.6642256,0.236137096 L20.7532036,2.24890223 C21.0810465,2.56506854 21.0825049,3.08304916 20.7561203,3.40063072 L9.42482945,14.422862 C9.09844487,14.7401605 8.45355094,15 7.99153739,15 L7.01267533,15 C6.55066177,15 5.90635119,14.7395944 5.58025829,14.4222959 L0.244060027,9.21956273" fill="#FFFFFF"></path>
        </svg>
      </div>
      text
    </a>
  </div>


  <div style="width: 300px">
    <div class="box box--padding is-bgCartoRed box-animationJade u-vspace--24 js-boxContent">
      <div class="circle-content">
        <p>Click to Copy</p>
        <svg width="21px" height="15px" viewBox="0 0 21 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M0.244060027,9.21956273 C-0.0820328754,8.90226422 -0.0811578497,8.3825853 0.245518404,8.06585289 L2.34499668,6.0281794 C2.67167293,5.71088089 3.2066053,5.71088089 3.53357323,6.0276133 L6.94325662,9.32910289 C7.27022455,9.6458353 7.80457357,9.6452692 8.13095814,9.32797069 L17.4750657,0.238967592 C17.8014503,-0.078330919 18.3363826,-0.0800292161 18.6642256,0.236137096 L20.7532036,2.24890223 C21.0810465,2.56506854 21.0825049,3.08304916 20.7561203,3.40063072 L9.42482945,14.422862 C9.09844487,14.7401605 8.45355094,15 7.99153739,15 L7.01267533,15 C6.55066177,15 5.90635119,14.7395944 5.58025829,14.4222959 L0.244060027,9.21956273" fill="#FFFFFF"></path>
        </svg>
      </div>
      text
    </div>
  </div>

```
*/

// Colors Cards

.box {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;


  @each $name, $color in $colors {
    &.is-bg#{$name} {
      background: $color;
    }
  }

  &.is-bgWhite {
    background: $white;
    border: 1px solid $light-grey;
  }

  &:before {
    display: block;
    content: "";
    width: 0;
    padding-top: 100%;
  }

  &.is-white {
    background: $white;
    border: 1px solid rgba($base-grey, 0.20);
  }

  p {
    font-family: $font-family-titles;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #FFF;
  }

  @each $name, $color in $colors {
    &.box-animation#{$name}:after {
      background: rgba($color, .92);
    }
  }

  &.is-download {
    p {
      animation: fadeOutDown 500ms both;
    }
    svg {
      animation: fadeIn 300ms both 200ms;
    }
  }
}

.box--padding {
  padding: 16px;
}




