/* SG
# Colors
```
  <!-- texts -->
  <h1 class="title is-title is-cartoRed">The precipitating manner in which</h1>
  <br/>
  <h1 class="title is-title is-solutionsRed">The precipitating manner in which</h1>
  <br/>
  <h1 class="title is-title is-builderBlue">The precipitating manner in which</h1>
  <br/>
  <h1 class="title is-title is-engineBlue">The precipitating manner in which</h1>
  <br/>
  <h1 class="title is-title is-integrationsBlue">The precipitating manner in which</h1>
  <br/>
  <h1 class="title is-title is-dataPurple">The precipitating manner in which</h1>
  <br/>
  <h1 class="title is-title is-learnPurple">The precipitating manner in which</h1>
  <br/>
  <h1 class="title is-title is-tutorialsPurple">The precipitating manner in which</h1>
  <br/>
  <h1 class="title is-title is-docsPurple">The precipitating manner in which</h1>
  <br/>
  <h1 class="title is-title is-baseGrey">The precipitating manner in which</h1>
  <br/>
  <br/>
  <br/>
  
  <!-- box -->
  <div class="box is-bgCartoRed">

  </div>
  <div class="box is-bgSolutionsRed">

  </div>
  <div class="box is-bgBuilderBlue">

  </div>
  <div class="box is-bgEngineBlue">

  </div>
  <div class="box is-bgIntegrationsBlue">

  </div>
  <div class="box is-bgDataPurple">

  </div>
  <div class="box is-bgLearnPurple">

  </div>
  <div class="box is-bgTutorialsPurple">

  </div>
  <div class="box is-bgDocsPurple">

  </div>
  <div class="box is-bgBaseGrey">

  </div>
```
*/


.is-bgCartoRed {
  background: $carto-red;
}

.is-bgTurquoise {
  background: $turquoise;
}

.is-bgSolutionsRed {
  background: $solutions-red;
}

.is-bgBuilderBlue {
  background: $builder-blue;
}

.is-bgEngineBlue {
  background: $engine-blue;
}

.is-bgIntegrationsBlue {
  background: $integrations-blue;
}

.is-bgDataPurple {
  background: $data-purple;
}

.is-bgLearnPurple {
  background: $learn-purple;
}

.is-bgTutorialsPurple {
  background: $tutorials-purple;
}

.is-bgDocsPurple {
  background: $docs-purple;
}

.is-bgBaseGrey {
  background: $base-grey;
}


.is-bgWhite {
  background: $white;
  &.is-border {
    border: 1px solid 
  }
}


// New Colors Texts

.is-white {
  color: $white;
}

.is-cartoRed {
  color: $carto-red;
}

.is-solutionsRed {
  color: $solutions-red;
}

.is-builderBlue {
  color: $builder-blue;
}

.is-engineBlue {
  color: $engine-blue;
}

.is-integrationsBlue {
  color: $integrations-blue;
}

.is-dataPurple {
  color: $data-purple;
}

.is-learnPurple {
  color: $learn-purple;
}

.is-tutorialsPurple {
  color: $tutorials-purple;
}

.is-docsPurple {
  color: $docs-purple;
}

.is-baseGrey {
  color: $base-grey;
}



