// Headers

.Header {
  display: flex;
  flex-direction: column;
  position: relative;
}
// .Header--demo {
//   height: 100vh;
//   @media (max-width: $layout-tablet) {
//     min-height: 100%;
//     height: auto;
//   }
// }
.Header--short {
  min-height: 0;
}
.Header-background {
  @include cover;
}
.Header-background--cover {
  background-size: cover;
  background-position: center;
}
// .Header-inner--request {
//   display: flex;
//   align-items: center;
//   height: 100%;
//   box-sizing: border-box;
//   background: $purple;
//   @media (max-width: $layout-s) {
//     display: block;
//     height: auto;
//   }
// }
.Header-inner {
  padding: 80px 0 96px;

  @media (max-width: $layout-tablet) {
    padding: 48px 0;
  }
}