// // Logo
// .Logo {
//   display: inline-block;
//   width: 92px;
//   height: 36px;
//   float: left;
//   margin-right: 40px;
//   background: url("../../img/logo/logo_carto_negative.svg") no-repeat 0 0;
// }
// .u-positive .Logo {
//   background: url("../../img/logo/logo_carto_positive.svg") no-repeat 0 0;
// }

.Navbar-button {
  height: 19px;
  width: 22px;
  margin-top: 10px;
  background: url("../img/icons/menu-mobile-n.svg") no-repeat 0 0;
  float: right;
  display: inline-block;
}
.u-positive .Navbar-button {
  background-image: url("../img/icons/menu-mobile-p.svg");
}
.Navbar {
  font-family: $font-family-titles;
}

// Navbar
.Navbar,
.Breadcrumbs {
  position: relative;
  padding: 16px 0;
  line-height: 20px;
  z-index: 40;
}
.Navbar-header {
  float: left;
  height: 36px;

  @media (max-width: $layout-mobile) {
    width: 100%;
  }
}
.Navbar-item,
.Breadcrumbs-item {
  position: relative;
  display: inline-block;
  margin-left: 32px;
  vertical-align: middle;

  &:first-child {
    margin-left: 0;
  }

  @media (max-width: $layout-tablet) {
    margin-left: 20px;
  }
}
.Breadcrumbs-item {
  margin-left: 20px;

  @media (max-width: $layout-mobile) {
    width: 100%;
    margin-left: 0;
  }
}
.Navbar-link,
.Breadcrumbs-link {
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  color: $typo4;
  transition: all .2s;

  &:hover {
    text-decoration: none;
    color: $typo4;
  }

  span {
    display: inline-block;
    padding-bottom: 12px;
    padding-top: 12px;
  }
}
.Navbar-button,
.Navbar-signup {
  display: none;
  float: right;

  @media (max-width: $layout-mobile) {
    display: block;
  }
}
.Navbar-item--button {
  .Navbar-link {
    display: flex;
    align-items: center;
  }
  span {
    padding: 9px 11px;
    background-color: $blue;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    border: 2px solid white;
    transition: all .2s ease;
    font-weight: 600;
    letter-spacing: 1px;
  }
  &:hover span {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.15);
  }
   &:active span {
    text-decoration: none;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 80%);
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.05);
  }
}


.Header-background--builder .Navbar-item--button {
  span {
    background-color: #fff;
    color: #000;
  }
}

.bgNavy .Navbar-item--button {
  span {
    background-color: #fff;
    color: $navy;
  }
}

.bgRed .Navbar-item--button {
  span {
    background-color: #fff;
    color: $red;
  }
}
.bgBlue .Navbar-item--button{
  span {
    background-color: #fff;
    color: $blue;
  }
}
.bgPurple .Navbar-item--button{
  span {
    background-color: #fff;
    color: $purple;
  }
}
.bgGreen .Navbar-item--button{
  span {
    background-color: #fff;
    color: $green;
  }
}
.bgGrey .Navbar-item--button{
  span {
    background-color: #fff;
    color: $grey;
  }
}
.bgSoftGrey .Navbar-item--button{
  span {
    background-color: #fff;
    color: $softgrey;
  }
}

.bgDark .Navbar-item--button{
  span {
    background-color: #fff;
    color: #141616;
  }
}

.Navbar-button {
  margin-top: 8px;
}
.Breadcrumbs-link {
  color: $typo2;

  &.is-active {
    color: $typo1;
  }
  &:hover {
    color: $link;
  }
}
.Navbar-inner--left,
.Breadcrumbs-inner--left {
  float: left;
}
.Navbar-inner--right,
.Breadcrumbs-inner--right {
  float: right;

  @media (max-width: $layout-mobile) {
    float: left;
  }
}

.u-positive .Navbar-link {
  color: $typo1;

  &:hover {
    color: rgba($typo1, .6);
  }
}

.Navbar--cWhite {
  .Logo--header {
    color: $typo2;
  }
  .Navbar-link {
    color: $typo2;

    &:hover {
      color: rgba($typo2, .6);
    }
  }
  .Navbar-link--signup {
    &:hover {
      color: $typo2;
    }
  }
}

.Submenu-inner {
  display: flex;
  padding-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.20);
  align-items: center;
}

.Submenu-inner--listItem {
  margin-right: 20px;
  font-size: 13px;
  font-weight: 400;

  &:last-child {
    margin-right: 0;
  }
  a {
    color: rgba(255, 255, 255, 0.6);
  }
  &.is-active{
    font-weight: 600;
    a {
        color: rgba(255, 255, 255, 1);
    }
  } 
}

.Submenu-item {
  margin-right: 20px;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;

  &.is-active a,
  &.is-active .Navbar-link {
    color: rgba(255, 255, 255, 0.6);
  }

  &:first-child:after {
    content: '/';
    display: block;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 20px;
  }
  &:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .Navbar-link span {
    padding: 0;
  }
}

.Submenu-itemLink {
  color: $typo4;
  opacity: 0.6;

  &:hover {
    color: $typo4;
    opacity: 0.6;
    text-decoration: none;
  }
  &.is-active {
    color: $typo4;
    opacity: 1;
  }
}

// Navbar fixed
.Navbar--fixed {
  position: fixed;
  top: -80px;
  z-index: 50;
  width: 100%;
  border-bottom: 1px solid #eee;
  background: #fff;
  opacity: 0;
  transition: all .3s ease;

  &.is-active {
    top: 0;
    opacity: 1;

    @media (max-width: $layout-mobile) {
      display: none;
    }
  }

  @media (max-width: $layout-mobile) {
    .Navbar-collapse{
      display: none;
    }
  }
}

@media (max-width: $layout-mobile) {
  .Submenu {
    display: none;
  }
  .Navbar-collapse {
    position: absolute;
    top: 0;
    right: -80%;
    width: 80%;
    padding: 0 24px;
  }
  .Navbar-inner {
    display: none;
  }
  .Navbar-button {
    display: block;
  }
  .Navbar-header {
    float: none;
  }
  .Navbar-item--menu {
    display: block;
    margin: 0;
  }
  .Navbar-link span {
    padding: 8px 0;
    font-size: 14px;
  }
  .Navbar-item--button span {
    padding: 9px 11px;
  }
  .Navbar-item--button {
    float: left;
    width: 100%;
    margin-left: 0;
  }
  
  .Navbar-link--button {
    display: block;
    text-align: center;
  }

  .u-positive .Navbar-link {
    color: $typo4;

    &:hover {
      color: rgba($typo4, .6);
    }
  }
}
