// Background colors
.bgRed {
  background-color: $red;
}
.bgNavy {
  background-color: $navy;
}
.bgBlue {
  background-color: $blue;
}
.bgPurple {
  background-color: $purple;
}
.bgGreen {
  background-color: $green;
}
.bgGrey {
  background-color: $grey;
}
.bgSoftGrey {
  background-color: $softgrey;
}
.bgDark {
  background-color: #141616; // #282C2F
}
.bgWhite {
  background-color: $white;
}
.bgTransparent {
  background: transparent;
}

// New Colors
.bgCartoRed {
  background-color: $carto-red;
}

.bgSolutionsRed {
  background-color: $solutions-red;
}

.bgBuilderBlue {
  background-color: $builder-blue;
}

.bgEngineBlue {
  background-color: $engine-blue;
}

.bgIntegrationsBlue {
  background-color: $integrations-blue;
}

.bgDataPurple {
  background-color: $data-purple;
}

.bgLearnPurple {
  background-color: $learn-purple;
}

.bgTutorialsPurple {
  background-color: $tutorials-purple;
}

.bgDocsPurple {
  background-color: $docs-purple;
}

.bgBaseGrey {
  background-color: $base-grey;
}

// End New Colors



// Display in desktop or mobile
.mobile {
  display: none;

  @media (max-width: $layout-mobile) {
    display: block;
  }
}

.desktop {
  display: block;

  @media (max-width: $layout-mobile) {
    display: none;
  }
}
