/* SG
# Titles
```
<!-- titles -->
<h1 class="title is-jumbo">The precipitating manner in which</h1>
<br/>
<h1 class="title is-display">The precipitating manner in which</h1>
<br/>
<h1 class="title is-title">The precipitating manner in which</h1>
<br/>
<h1 class="title is-subheader">The precipitating manner in which</h1>
<br/>
<h1 class="title is-subtitle">The precipitating manner in which</h1>
<br/>
<h1 class="title is-caption">The precipitating manner in which</h1>
<br/>
<h1 class="title is-small">The precipitating manner in which</h1>
<br/>

<!-- texts -->
<p class="text is-jumbo">The precipitating manner in which</p>
<br/>
<p class="text is-jumbo">The precipitating manner in which</p>
<br/>
<p class="text is-display">The precipitating manner in which</p>
<br/>
<p class="text is-title">The precipitating manner in which Captain Ahab.</p>
<br/>
<p class="text is-subheader">The precipitating manner in which Captain Ahab had quitted the Samuel.</p>
<br/>
<p class="text is-body">The precipitating manner in which Captain Ahab had quitted the Samuel Enderby of London, had not been unattended with some small violence to his own person.  He had lighted with such energy upon a thwart. </p>
<br/>
<p class="text is-caption">The precipitating manner in which Captain Ahab had quitted the Samuel Enderby of London, had not been unattended with some small violence to his own person. He had lighted with such energy upon a thwart of his boat that his ivory leg had received a half-splintering shock.</p>
<br/>
<p class="text is-small">The precipitating manner in which Captain Ahab had quitted the Samuel Enderby of London, had not been unattended with some small violence to his own person. He had lighted with such energy upon a thwart of his boat that his ivory leg had received a half-splintering shock. </p>
<br/>
```
*/

// New typography for CARTO

.text {
  font-family: $font-family-base;
  font-weight: 400;
  // color: $base-grey;
}

.title {
  font-family: $font-family-titles;
  font-weight: 600;
  color: $base-grey;
  &.is-regular {
    font-weight: 400;
  }
  &.is-bold {
    font-weight: 700;
  }
}

.is-jumbo {
  font-size: 80px;
  line-height: 96px;
}

.is-display {
  font-size: 64px;
  line-height: 80px;
}

.is-title {
  font-size: 48px;
  line-height: 64px;
}

.is-subheader {
  font-size: 32px;
  line-height: 48px;
}

.is-body,
.is-subtitle {
  font-size: 20px;
  line-height: 32px;
}

.is-caption {
  font-size: 16px;
  line-height: 24px;
}

.is-small {
  font-size: 12px;
  line-height: 16px;
}

// New Colors

.is-white {
  color: $white;
}

.is-cartoRed {
  color: $carto-red;
}

.is-solutionsRed {
  color: $solutions-red;
}

.is-builderBlue {
  color: $builder-blue;
}

.is-engineBlue {
  color: $engine-blue;
}

.is-integrationsBlue {
  color: $integrations-blue;
}

.is-dataPurple {
  color: $data-purple;
}

.is-learnPurple {
  color: $learn-purple;
}

.is-tutorialsPurple {
  color: $tutorials-purple;
}

.is-docsPurple {
  color: $docs-purple;
}

.is-baseGrey {
  color: $base-grey;
}

// End New Colors

