{% assign tab-bar = '<nav>
    <ul class="tab-navigation is-red">
        <li class="tab-navigationItem">
            <a class="tab-navigationAction is-active" href="#">Tab Bar 1</a>
        </li>
        <li class="tab-navigationItem">
            <a class="tab-navigationAction" href="#">Tab Bar 2</a>
        </li>
    </ul>
</nav>'%}
{% assign tab-bar-purple = '<nav>
    <ul class="tab-navigation is-purple">
        <li class="tab-navigationItem">
            <a class="tab-navigationAction is-active" href="#">Tab Bar 1</a>
        </li>
        <li class="tab-navigationItem">
            <a class="tab-navigationAction" href="#">Tab Bar 2</a>
        </li>
    </ul>
</nav>'%}
{% assign tab-bar-box = '<nav>
    <ul class="button-group">
        <li class="button-groupItem">
            <button type="button" class="button-groupAction">Item 1</button>
        </li>
        <li class="button-groupItem">
            <button type="button" class="button-groupAction">Item 2</button>
        </li>
        <li class="button-groupItem">
            <button type="button" class="button-groupAction">Item 3</button>
        </li>
        <li class="button-groupItem">
            <button type="button" class="button-groupAction is-active">Item 4</button>
        </li>
    </ul>
</nav>'%}

<div class="grid grid--out">
    <div class="grid-cell grid-cell--col12">
        <h3 class="title is-subheader u-vspace--8">Tab bars</h3>
        <p class="text is-caption u-vspace--16">This is a set of our differents types of tab bars navigations</p>
    </div>
</div>

<ul class="grid grid--out">
    <li class="grid-cell grid-cell--col12 u-vspace--32">
        <div class="u-vspace--24">{{tab-bar}}</div>
        <pre><code class="html hljs">{{tab-bar | escape}}</code></pre>
    </li>
    <li class="grid-cell grid-cell--col12 u-vspace--32">
        <div class="u-vspace--24">{{tab-bar-box}}</div>
        <pre><code class="html hljs">{{tab-bar-box | escape}}</code></pre>
    </li>
</ul>




