{% assign tooltip-left = '<a href="#" tooltip-position="right" tooltip-text="Sample text.">Show</a>'%}
{% assign tooltip-right = '<a href="#" tooltip-position="left" tooltip-text="Sample text.">Show</a>'%}
{% assign tooltip-bottom = '<a href="#" tooltip-position="top" tooltip-text="Sample text.">Show</a>'%}
{% assign tooltip-top = '<a href="#" tooltip-position="bottom" tooltip-text="Sample text.">Show</a>'%}


<div class="grid grid--out">
    <div class="grid-cell grid-cell--col12">
        <h1 class="title is-title u-vspace--4">Tooltips</h1>
        <p class="text is-body u-vspace--32">This is a set of our differents types of tooltips</p>
    </div>
</div>

<ul>
    <li class="grid grid--out grid--center u-vspace--32">
        <div class="grid-cell grid-cell--col3">
            <p class="text is-small u-vspace--8">Left arrow</p>
            {{tooltip-left}}
        </div>
        <div class="grid-cell grid-cell--col9"><pre><code class="html hljs">{{tooltip-left | escape}}</code></pre></div>
    </li>
    <li class="grid grid--out grid--center u-vspace--32">
        <div class="grid-cell grid-cell--col3">
            <p class="text is-small u-vspace--8">Right arrow</p>
            {{tooltip-right}}
        </div>
        <div class="grid-cell grid-cell--col9"><pre><code class="html hljs">{{tooltip-right | escape}}</code></pre></div>
    </li>
    <li class="grid grid--out grid--center u-vspace--32">
        <div class="grid-cell grid-cell--col3">
            <p class="text is-small u-vspace--8">Bottom arrow</p>
            {{tooltip-bottom}}
        </div>
        <div class="grid-cell grid-cell--col9"><pre><code class="html hljs">{{tooltip-bottom | escape}}</code></pre></div>
    </li>
    <li class="grid grid--out grid--center u-vspace--32">
        <div class="grid-cell grid-cell--col3">
            <p class="text is-small u-vspace--8">Top arrow</p>
            {{tooltip-top}}
        </div>
        <div class="grid-cell grid-cell--col9"><pre><code class="html hljs">{{tooltip-top | escape}}</code></pre></div>
    </li>
</ul>