// Header
// --------------------------------------------------

.Header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Header--short {
  min-height: 0;
}
.Header-background {
  @include cover;
}
.Header-background--cover {
  background-size: cover;
  background-position: center;
}

.Header-inner {
  padding: 80px 0 96px;

  @media (max-width: $layout-tablet) {
    padding: 48px 0;
  }
}