/* SG
# Titles
```
<!-- titles -->
<h1 class="title is-jumbo">The precipitating manner in which (desktop 80/96) (mobile 48/56)</h1>
<br/>
<h1 class="title is-display">The precipitating manner in which (desktop 64/80) (mobile 40/48)</h1>
<br/>
<h1 class="title is-title">The precipitating manner in which (desktop 48/64) (mobile 32/40)</h1>
<br/>
<h1 class="title is-subheader">The precipitating manner in which (desktop 32/48) (mobile 20/24)</h1>
<br/>
<h1 class="title is-subtitle">The precipitating manner in which (desktop 20/32) (mobile 16/24)</h1>
<br/>
<h1 class="title is-caption">The precipitating manner in which (desktop 16/24) (mobile 12/16)</h1>
<br/>
<h1 class="title is-small">The precipitating manner in which (desktop & mobile 12/16)</h1>
<br/>

<!-- texts -->
<p class="text is-jumbo">The precipitating manner in which (desktop 80/96) (mobile 48/56)</p>
<br/>
<p class="text is-display">The precipitating manner in which  (desktop 64/80) (mobile 40/48)</p>
<br/>
<p class="text is-title">The precipitating manner in which Captain Ahab. (desktop 48/64) (mobile 32/40)</p>
<br/>
<p class="text is-subheader">The precipitating manner in which Captain Ahab had quitted the Samuel. (desktop 32/48) (mobile 20/24)</p>
<br/>
<p class="text is-body">The precipitating manner in which Captain Ahab had quitted the Samuel Enderby of London, had not been unattended with some small violence to his own person.  He had lighted with such energy upon a thwart. (desktop 20/32) (mobile 16/24)</p>
<br/>
<p class="text is-caption">The precipitating manner in which Captain Ahab had quitted the Samuel Enderby of London, had not been unattended with some small violence to his own person. He had lighted with such energy upon a thwart of his boat that his ivory leg had received a half-splintering shock. (desktop 16/24) (mobile 12/16)</p>
<br/>
<p class="text is-small">The precipitating manner in which Captain Ahab had quitted the Samuel Enderby of London, had not been unattended with some small violence to his own person. He had lighted with such energy upon a thwart of his boat that his ivory leg had received a half-splintering shock. (desktop & mobile 12/16)</p>
<br/>
```
*/

// New typography for CARTO

.text {
  @include text();
}

.title {
  @include title();
}

.textCode {
  font-family: $font-family-code;
}

.is-jumbo {
  @include is-jumbo();
}

.is-display {
  @include is-display();
}

.is-title {
  @include is-title();
}

.is-subheader {
  @include is-subheader();
}

.is-body {
  @include is-body();
}

.is-subtitle {
  @include is-subtitle();
}

.is-caption {
  @include is-caption();
}

.is-small {
  @include is-small();
}

.is-ellipsis{
  @include ellipsis();
  &.is-ellipsis--link{
    display: inline-block;
    max-width: calc(100% - 24px);
    padding-right: 8px;
  }
}