<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='../css/hangaralpha.css' type='text/css' rel='stylesheet'>
    <link href='../css/main.css' type='text/css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:300,400,600,700|Overpass+Mono' rel='stylesheet' type='text/css'>
    <title>Hangar</title>
  </head>
  <body>
      <nav class="header-navigator container">
        <div class="grid">
          <div class="grid-cell grid-cell--col12">
            {% include icons/logo_carto_positive.svg %}
          </div>
        </div>
      </nav>
      {{ content }}
      {% include hangaralpha/footer.html %}
      <script src='../js/user-interactions.js'></script>
      <link rel="stylesheet" href="../css/vendor/carto-dark.css">
      <script src='../js/vendor/highlight.pack.js'></script>
      <script src="../js/vendor/highlightjs-line-numbers.min.js"></script>
      <script src="../js/vendor/jquery-3.2.1.min.js"></script>
      <script src="../js/vendor/rangeslider.min.js"></script>
      <script>
          hljs.initHighlightingOnLoad();
          hljs.initLineNumbersOnLoad({singleLine: true});
          $('input[type="range"]').rangeslider({
            polyfill: false
            });
      </script>
  </body>
</html>