<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='../css/hangaralpha.css' type='text/css' rel='stylesheet'>
    <link href='../css/main.css' type='text/css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:300,400,600,700|Overpass+Mono' rel='stylesheet' type='text/css'>
    <title>Hangar</title>
  </head>
  <body>
      <nav class="header-navigator container">
        {% include icons/logo_carto_positive.svg%}
      </nav>
      {{ content }}
      <script src='../js/user-interactions.js'></script>
      <link rel="stylesheet" href="../css/vendor/carto-dark.css">
      <script src='../js/vendor/highlight.pack.js'></script>
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.1.0/highlightjs-line-numbers.min.js"></script>
      <script>
          hljs.initHighlightingOnLoad();
          hljs.initLineNumbersOnLoad({singleLine: true});
          $('input[type="range"]').rangeslider({
            polyfill: false,
            onInit: function() {console.log("INIT")}
          });
      </script>
  </body>
</html>