//Utilities

// Display in desktop, tablet or mobile
.mobile {
  display: none;

  @media (max-width: $layout-mobile) {
    display: block;
  }
}

.tablet {
  display: none;

  @media (max-width: $layout-tablet) {
    display: block;
  }
}


.desktop {
  display: block;

  @media (max-width: $layout-mobile) {
    display: none;
  }
}

// Margins
$sizes: (0, 4, 8, 10, 12, 16, 20, 24, 28, 32, 36, 40, 48, 60, 64, 72, 80, 96, 100, 120, 128, 140, 148, 152, 240);

@each $size in $sizes {
  .u-tspace--#{$size}--n {
    margin-top: -#{$size}px;
  }
  .u-tspace--#{$size} {
    margin-top: #{$size}px;
  }
  .u-rspace--#{$size} {
    margin-right: #{$size}px;
  }
  .u-vspace--#{$size} {
    margin-bottom: #{$size}px;
  }
  .u-lspace--#{$size}--n {
    margin-left: -#{$size}px;
  }
  .u-lspace--#{$size} {
    margin-left: #{$size}px;
  }
}