//Utilities
// --------------------------------------------------

// Display in desktop, tablet or mobile
.mobile {
  display: none;

  @media (max-width: $layout-mobile) {
    display: block;
  }
}

.tablet {
  display: none;

  @media (max-width: $layout-tablet) {
    display: block;
  }
}


.desktop {
  display: block;

  @media (max-width: $layout-mobile) {
    display: none;
  }
}

.desktopTablet {
  display: block;

  @media (max-width: $layout-tablet) {
    display: none;
  }
}

.mobile--flex {
  display: none;

  @media (max-width: $layout-mobile) {
    display: flex;
  }
}

.tablet--flex {
  display: none;

  @media (max-width: $layout-tablet) {
    display: flex;
  }
}

.desktop--flex {
  display: flex;

  @media (max-width: $layout-mobile) {
    display: none;
  }
}

.desktopTablet--flex {
  display: flex;

  @media (max-width: $layout-tablet) {
    display: none;
  }
}

// Margins
$sizes: (0, 4, 8, 10, 12, 16, 20, 24, 28, 32, 36, 40, 48, 60, 64, 72, 80, 96, 100, 120, 128, 140, 148, 152, 240);

@each $size in $sizes {
  .u-tspace--#{$size}--n {
    margin-top: -#{$size}px;
  }
  .u-tspace--#{$size} {
    margin-top: #{$size}px;
  }
  .u-rspace--#{$size} {
    margin-right: #{$size}px;
  }
  .u-vspace--#{$size} {
    margin-bottom: #{$size}px;
  }
  .u-lspace--#{$size}--n {
    margin-left: -#{$size}px;
  }
  .u-lspace--#{$size} {
    margin-left: #{$size}px;
  }
}


@media (max-width: $layout-tablet) {
  .u-hide--tablet {
    display: none;
  }

  @each $size in $sizes {
    .u-tspace--#{$size}--tablet {
      margin-top: #{$size}px;
    }
    .u-rspace--#{$size}--tablet {
      margin-right: #{$size}px;
    }
    .u-vspace--#{$size}--tablet {
      margin-bottom: #{$size}px;
    }
    .u-lspace--#{$size}--tablet {
      margin-left: #{$size}px;
    }
  }
}

@media (max-width: $layout-mobile) {
  @each $size in $sizes {
    .u-tspace--#{$size}--mobile {
      margin-top: #{$size}px;
    }
    .u-rspace--#{$size}--mobile {
      margin-right: #{$size}px;
    }
    .u-vspace--#{$size}--mobile {
      margin-bottom: #{$size}px;
    }
    .u-lspace--#{$size}--mobile {
      margin-left: #{$size}px;
    }
  }
}



//More utilities

.u-inner {
  // 100px + 940px + 100px
  position: relative;
  z-index: $zIndex--uInner;
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (max-width: $layout-regular) {
    // 64px + 640px + 64px
    max-width: 100%;
    padding-right: 32px;
    padding-left: 32px;
  }
  @media (max-width: $layout-mobile) {
    padding-right: 24px;
    padding-left: 24px;
  }
}


.u-negative {
  color: $white;
 }

.u-flex {
  display: flex;
}

.u-linkBlue {
  &:hover {
    color: $link;
    text-decoration: none;
    cursor: pointer;
  }
}
