// Variables
// --------------------------------------------------

$spacing-unit: 8px;

// Layout
$layout-tablet: 800px;
$layout-mobile: 600px;
$layout-regular: 980px;

//UI Colors
$carto-red: #F24440;
$solutions-red: #FF583E;
$jade: #00B9BF;
$builder-blue: #1785FB;
$engine-blue: #2E51E8;
$lds-blue: #3D33CC;
$orange: #FF990B;
$guides-purple: #7D21F5;
$tutorials-purple: #6E00DC;
$docs-purple: #5300CC;
$emerald: #80D100;
$base-grey: #2E3C43;
$white: #ffffff;
$softgrey: #F9F9F9;
$softblue: #F2F6F9;
$link: $builder-blue;

$typo2: #747D82;
$typo3: #BABEC0;

///// Font
$font-size-base: 20px;
$line-height-base: 32px;
$font-family-base: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-titles: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: $base-grey;


